.App {
  width: 60%;
  float: right;
  position: relative;
}
.top-chart {
  margin-top: -22%;
  position: relative;
  margin-right: 10%;
}
.bottom-chart {
  margin-top: -28%;
  position: relative;
  margin-right: 10%;
}
.bottom-slider {
  margin-top: 65%;
  position: relative;
}
